# Local environment secrets
.env
Backend/.env
terraform/variables.tf


# Dependencies and build tools
node_modules/
dist/
.cache/

# Terraform
**/terraform/.terraform/
**/.terraform/
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info
